{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up {{ parent() }}</strong>
    </h5>

    <div class="card-body">

        {{ form_start(registrationForm) }}
{#    <div class="form-group">#}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-primary btn-block" type="submit">
                SignUp
            </button> OR
            <a href="/login">SignIn</a>

        {{ form_end(registrationForm) }}
    </div>

{% endblock %}