{% extends 'pages/layout.html.twig' %}

{% block title %} Hello World Page {% endblock %}

{% block content %}
    <div class="btn-group mr-2 float-right">

        <form name="form_action" action="{{ form_action }}" method="post">
            <div class="form-group">
                <input name="category_name" type="text" class="form-control input-group-prepend" placeholder="input category name">
            </div>
            <hr>
            <br>
            <button type="submit" class="btn btn-primary">+ Add new Category Option</button>
        </form>



{#        <form>#}
{#            <a class="btn btn-primary btn-lg" data-toggle="collapse" href="/admin/category" role="button" aria-expanded="false" aria-controls="collapseExample">#}
{#                + Add new Category#}
{#            </a>#}
{#        </form>#}

    </div>
    <section style="padding: 3rem 0;">
        <h2>{{ form_title }}</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#ID</th>
{#                            <th>Category Code</th>#}
                            <th>URL to update Category:</th>
                            <th>URL to delete Category:</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
{#                                <td>{{ category.code }}</td>#}
                                <td><a href="{{ update_url }}/{{ category.id }}">{{ update_url }}/{{ category.id }}</a></td>
                                <td><a href="{{ update_url }}/delete/{{ category.id }}">delete {{ update_url }}/delete/{{ category.id }}</a></td>
                                <td>{{ category.state }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

{#            {% for product in products %}#}
{#            <div class="row">#}
{#                <div class="alert alert-success col-6" role="alert">#}
{#                    <hr>#}
{#                    <h4 class="alert-heading">{{form_title}}</h4>#}
{#                    <div class="form-group">#}
{#                        <span  class="form-control">{{ product.productcode }}</span>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <span  class="form-control">{{ product.count }}</span>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <a href="{{ update_url }}/{{ product.id }}">update Product: {{ update_url }}/{{ product.id }}</a>#}
{#                    </div>#}
{#                    <hr>#}
{#                </div>#}
{#            </div>#}
{#            {% endfor %}#}

    </section>

{% endblock %}
