{% extends 'base.html.twig' %}

{#{% block title %}Головна сторінка{{ parent() }}{% endblock %}#}


{% block body %}

    {% block header %}
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
                <nav class="my-2 my-md-0 mr-md-3">
{#                    <a class="p-2 text-dark" href="#">Features</a>#}
{#                    <a class="p-2 text-dark" href="#">Enterprise</a>#}
{#                    <a class="p-2 text-dark" href="#">Support</a>#}
{#                    <a class="p-2 text-dark" href="#">Pricing</a>#}
                </nav>
                <a class="btn btn-outline-primary" href="#">Sign up</a>
            </div>
        </header>
    {% endblock %}

    {#    {% block title %}{% endblock %}#}


    {% block main %}

        <main role="main" class="container">

            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">багетная рамка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">алюминивая рамка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">клик рамка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">антирама</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">холст</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Высота мм</span>
                                    </div>
                                    <input type="number" class="form-control" aria-label="Large" id="height" placeholder="0" value="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Ширина мм</span>
                                    </div>
                                    <input type="number" class="form-control" aria-label="Large" id="width" placeholder="0" value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for category in categories %}
                        <hr>
                        {% if  category.getId == '3' %}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="category_{{ category.getId() }}">код багета</label>
                                        </div>
                                        <select name="state"  class="custom-select" id="category_{{ category.getId() }}">
                                            {% for product in category.getProducts() %}
                                                <option value="product.getId()">{{ product.getName() }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Цена багета</span>
                                        </div>
                                        <input type="number" class="form-control" aria-label="Large" id="product_price" placeholder="0" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group row">
                            <label for="category_{{ category.getId() }}" class="col-sm-2 col-form-label">{{ category.getName() }}</label>
                            <div class="col-sm-10">
                                <div id="category_{{ category.getId() }}" class="btn-group" role="group">
                                    {% for product in category.getProducts() %}
                                        <button type="button" class="btn btn-secondary">{{ product.getName() }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    {% endfor %}
                    <hr>
                </div>

                <section>
                    <div class="form-group">
                        <h1 class="mt-5">Sticky footer with fixed navbar</h1>
                    </div>
                </section>

                {% block content %}
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">сумма без скидки</span>
                                </div>
                                <div class="form-control" id="all-cost">0.00</div>

                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">скидка процент</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Large" name="discount-l" id="discount-l" placeholder="0%" value="" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">Количество штук</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Large" name="amount" id="amount" placeholder="1 шт" value="" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">сумма со скидкой</span>
                                </div>
                                <div class="form-control" id="with-discount">0.00</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">скидка сумма</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Large" name="discount-r" id="discount-r" placeholder="0.00" value="" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">общая стоимость</span>
                                </div>
                                <div class="form-control" id="val">0.00</div>
                            </div>
                        </div>

                        <section  style="width: 100vw;">
                            <br>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-primary">рассчитать заказ</button>
                                <button type="button" class="btn btn-outline-danger">очистить</button>
                                <button type="button" class="btn btn-outline-success">оформить заказ</button>
                            </div>

                        </section>

                    </div>
                </div>

            </div>
            </div>

            {% endblock %}

        </main>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
    {% endblock %}




{% endblock %}