{% extends 'admin/admin_layout.html.twig' %}

{% block title %} Hello World Page {% endblock %}

{% block content %}


<form name="form_action" action="{{ form_action }}" method="post">
    <b><legend class="col-form-label">Select Category Page</legend></b>
    <hr>

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Название страницы</span>
        </div>
        <input name="name" value="{{ name }}" type="text" class="form-control input-group-prepend" placeholder="input page name">
    </div>

    <br>
    <hr>
    <b><legend class="col-form-label">Выбрать категории для калькуляции</legend></b>

    <div class="input-group">
        {% for category in categories %}
            {% set checked = '' %}
            {% for select in selected %}
                {% if (category.getId==select) %}
                    {% set checked = 'checked' %}
                {% endif %}
            {% endfor %}
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input {{ checked }} type="checkbox" name="choices[]" value="{{ category.getId() }}" class="form-check-input">
                    {{ category.getName() }}
                </label>
            </div>
        {% endfor %}
    </div>

{#    <div class="input-group">#}
{#        {% for key,value in units %}#}
{#            {% set checked = '' %}#}
{#            {% if (unit == value) %}#}
{#                {% set checked = 'checked' %}#}
{#            {% endif %}#}
{#            <div class="form-check form-check-inline">#}
{#                <label class="form-check-label">#}
{#                    <input {{ checked }} value={{ value }} class="form-check-input" type="radio" name="unit">#}
{#                    {{ key }}#}
{#                </label>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
    <br>
    <hr>
    <b><legend class="col-form-label">Select state</legend></b>

    <div class="input-group">
        {% for key,value in states %}
            {% set checked = '' %}
            {% if (state == value) %}
                {% set checked = 'checked' %}
            {% endif %}
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input {{ checked }} value={{ value }} class="form-check-input" type="radio" name="state">
                    {{ key }}
                </label>
            </div>
        {% endfor %}
    </div>
    <hr>
    <br>
    <div class="btn-group mr-2 float-left">
        <button type="submit" class="btn btn-primary btn-lg">{{ btn_submit }}</button>
    </div>

</form>

{% endblock %}
