{% extends 'admin/admin_layout.html.twig' %}

{% block title %} Hello World Page {% endblock %}

{% block content %}
    <div class="btn-group mr-2 float-right">
        <form name="form_action" action="{{ form_action }}" method="GET">
            <div class="btn-group mr-2 float-right">
                <button type="submit" class="btn btn-primary btn-lg">{{ btn_submit }}</button>
            </div>
        </form>
    </div>
    <section style="padding: 3rem 0;">
        <h2>{{ form_title }}</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Позиция</th>
                            <th>#ID</th>
                            <th>Product Code</th>
                            <th>Price</th>
                            <th>URL to update Product:</th>
                            <th>URL to delete Product:</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td style="width: 75px;"><input style="width: inherit;" value="{{ product.getOrderRange }}"></td>
                            <td>{{ product.id }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.price }}</td>
                            <td><a href="{{ update_url }}/{{ product.id }}">{{ update_url }}/{{ product.id }}</a></td>
                            <td><a href="{{ update_url }}/{{ product.id }}/delete">delete {{ update_url }}/{{ product.id }}/delete</a></td>
                            <td>{{ states[product.state] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{#            {% for product in products %}#}
{#            <div class="row">#}
{#                <div class="alert alert-success col-6" role="alert">#}
{#                    <hr>#}
{#                    <h4 class="alert-heading">{{form_title}}</h4>#}
{#                    <div class="form-group">#}
{#                        <span  class="form-control">{{ product.productcode }}</span>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <span  class="form-control">{{ product.count }}</span>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <a href="{{ update_url }}/{{ product.id }}">update Product: {{ update_url }}/{{ product.id }}</a>#}
{#                    </div>#}
{#                    <hr>#}
{#                </div>#}
{#            </div>#}
{#            {% endfor %}#}
    </section>

{% endblock %}
